body {
  background-color: #efeeee;
}

.card {
  width: 18rem;
}

.active {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

nav {
  background-color: #252527;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.home-infos {
  background-color: #f6f6f8;
  border: 1px solid #27273a;
  border-radius: 15px;
  padding: 25px;
  margin: auto;
}